@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.navbar {
  color: #6379f4;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
}
.tes {
  color: red;
}
.avatar {
  height: 5px;
  weight: 6px;
  margin-right: 20px;
}
.name_avatar {
  margin-right: 10px;
}
.notification {
  margin-right: 10px;
}
.tittle {
  margin-left: 50px;
}
.navcont {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
