@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.container {
  padding: 0 2rem;
  height: 100vh;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
/* new css home */
.image_landing {
  margin-left: 100px;
}
.desc_landing {
  font-family: "Nunito Sans";
  font-size: 50px;
  font-weight: 100px !important;
  margin-top: 150px;
}
.desc_landing_span {
  color: #6379f4;
}
.desc_landing_grup {
  width: 500px;
  margin-top: 20px;
  margin-left: 30px;
}
.opinion_landing_grup {
  width: 400px;
  margin-left: 30px;
}
.button_try_landing {
  width: 100px;
  height: 40px;
  background: #6379f4;
  border: #6379f4;
  /* box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05); */
  border-radius: 12px;
  color: white;
}
.button_landing_group {
  margin-left: 30px;
  margin-top: 50px;
}
.landing_available {
  margin-left: 30px;
}
.available_landing {
  font-family: "Nunito Sans";
  font-size: 20px;
}
.iconlanding {
  padding: 30px;
}
.grup_icon_landing {
  display: flex;
}
.icon_landing {
  margin-right: 30px;
}
.about_landing {
  font-family: "Nunito Sans";
  font-size: 50px;
  margin-left: 500px;
  margin-top: 50px;
}
.desc_about_landing {
  text-align: center;
}
.opinion_landing {
  width: 500px;
  margin-left: 500px;
  margin-top: 30px;
}
.opinion_promotion {
  font-family: "Nunito Sans";
  font-size: 40px;
  width: 350px;
  margin-top: 100px;
}
.opinion_promotion_span {
  color: #6379f4;
}
.card_opinion_landing {
  font-family: "Nunito Sans";
}
.header_landing {
  background-color: #6379f4;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* end css home */

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
