.main {
  height: 80vh;
}
.name_avatar {
  margin-left: 60px;
}
.avatar {
  margin-top: 10px;
}
.button_filter {
  margin-left: 120vh;
}
.crd_balance {
  background-color: #6379f4;
  color: white;
}
/* .output {
  margin-left: 100vh;
} */
