@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
.contsign {
  position: relative;
  /* height: fit-content; */
  margin: 0;
  padding: 0;
}
.tittle_app {
  color: white;
  position: absolute;
  margin-left: 15vh;
  margin-top: 1vh;
  font-size: 20px;
  font-weight: 20px;
  font-family: "Nunito Sans";
}
/* left style */
/* .mask_image {
  -webkit-transform: rotate(180deg);
  box-sizing: border-box;

  position: relative;
  left: -70%;
  right: 39.14%;
  top: 8.08%;
  bottom: 36.35%; */

/* border: px solid rgba(255, 255, 255, 0.15); */
/* } */
.left {
  /* background: #6379f4; */
  height: auto;
  width: 50%;
  background-attachment: fixed;
  /* background-repeat: no-repeat;
  background-size: cover; */
  background-image: url("/Mask-Group.png");
}
.icon__image {
  /* position: absolute; */
  left: 115px;
  z-index: 2;
  margin-top: 15vh !important;
}
.icon_image {
  position: absolute;
  margin-top: 15vh !important;
}
.opinion__left {
  margin-top: 5vh;
  color: #ffffff;
  margin-left: 10vh;
}
.opinion_left {
  color: #ffffff;
  font-size: 12px;
  margin-left: 10vh;
}
/* left style */
/* right style */
.right {
  width: 50%;
}
.opinion_right {
  font-size: 24px;
  margin-left: 15vh;
}
.opinion__right {
  font-size: 16px;
  margin-left: 15vh;
}
/* right style */
.home {
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  padding: 0 !important;
}
/* style input */
:root {
  --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
  --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
  --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
  --omrs-color-interaction: #1e4bd1;
  --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
  --omrs-color-bg-low-contrast: #eff1f2;
  --omrs-color-ink-high-contrast: #121212;
  --omrs-color-bg-high-contrast: #ffffff;
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  /* margin-bottom: 0.8rem; */
  position: relative;
  width: 16rem;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
  border: none;
  border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  width: 250%;
  height: 3rem;
  font-size: 12px;
  padding-left: 2rem;
  line-height: 147.6%;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
  outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 2rem;
  line-height: 147.6%;
  color: var(--omrs-color-ink-medium-contrast);
  transition: top 0.2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
  position: absolute;
  top: 0.9375rem;
  right: 14.5rem;
  fill: var(--omrs-color-ink-medium-contrast);
}
/* this for eye icon */
.omrs-input-underlined2 > svg,
.omrs-input-filled > svg {
  position: absolute;
  top: 0.9375rem;
  right: -10rem;
  fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
  background: var(--omrs-color-interaction-minus-two);
  border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
  border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
  fill: var(--omrs-color-ink-high-contrast);
}
.omrs-input-label {
  font-size: 10px;
}
.input__grup {
  margin-left: 15vh;
}
/* end style input */
.forgot_button {
  font-size: 14px;
  margin-left: 68vh !important;
}
.login_button {
  margin-left: 20vh;
}
.nav_signup {
  font-size: 10px;
  margin-left: 40vh;
}
.pin_input {
  margin-left: 5vh;
  margin-top: 10vh !important;
}
